#beerandwineselect{
  background-image: url("https://pbs.twimg.com/media/CUi6ZUSUYAAaPFL.jpg");
}
.jumbotron {
  text-align: center;
}

#jumbo {
  text-align: center;
}

h1 {
  text-align: center;
}
.p1 {
  text-align: center;
}

.p2 {
  text-align: center;
}

#center-block {
  margin-left: 15px;
  margin-right: 15px;
}
