.jumbotron {
  text-align: center;
}
.p {
  text-align: center;
}

#centereddiv {
  text-align: center;
  display: center;
}
#well1 {
  display: center;
}

#well2 {
  display: center;
}

div.text-center {
  text-align: center;
}
