<div class="container">
  <div class="section">
    <div class="row container col m6 l12">
        <div class="text-center">
          <h1>About breWinefinder.com</h1>
          <p>We are your one stop shop for beer and wine. We're here to help you on your quest for new tastes and relaxing settings to spend time with your friends. Our aim is to cover all the details-- including getting you home safely-- so that you can optimize your down time.</p>
          <p> Come explore with us by:</p>
          <ul>
            <li>Type of beer</li>
            <li>Type of wine</li>
            <li>Brewery/Winery</li>
            <li>Location</li>
          </ul>
          <h1>Our team:</h1>
          <p>This app was made collaboratively by four student Web Developers of Rutgers Coding Bootcamp</p>
          <table>
            <tbody>
              <tr>
                <td><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAWJAAAAJDZkZjcyM2EwLTVhYTQtNGE4Mi1iNDFiLTY1YzU1ZDJmMWRkMg.jpg" height="100px" width="100px" style="float:left"></td>
                <td>Mark Awai: Mark is a student at Rutgers Coding Bootcamp (RCB). He has worked at Citi Habitats and Awai Real Estate. </td>
              </tr>
              <tr>
                <td><img src="https://avatars3.githubusercontent.com/u/14007414?v=3&s=460" height="95px" width="95px" style="float:left"></td>
                <td>Marco Sebello: Marco graduated from Rutgers University with a degree in the sciences and works for a transplant foundation. Marco is currently a student at Rutgers Coding Bootcamp (RCB), an intensive 24-week program at Rutgers University dedicated to designing and building web applications.</td>
              </tr>
              <tr>
                <td><img src="https://avatars0.githubusercontent.com/u/15148849?v=3&s=460" height="100px" width="100px" style="float:left"></td>
                <td>Carolyn Tevnan: Carolyn is currently studying web development at Rutgers Coding Bootcamp. She has a background in healthcare, as well as a basic knowledge of computer hardware to compliment her knowledge of software.</td>
              </tr>
              <tr>
                <td><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/4/000/147/0bf/350cea2.jpg" width="100px" style="float:left"></td>
                <td>Alyson Wright: Alyson is a student at Rutgers Coding Bootcamp (RCB). She comes to RCB with a background in Non-profit management and some dabbling in Startups and web development.</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>

                    
         