
        <div class="container-fluid">
            <!-- this section "header" is for the nav bar-->
            <div class="row">
                <!-- nav bar by Carolyn -->
                <!--static navbar--> 
                <nav>
                    <div class="nav-wrapper">
                        <div class="col s3">
                            <img src= "pictures/logo1img.png"><a href="#" class="brand-logo">breWineFinder.com</a>
                        </div>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="home.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="uberRide.html">Rides by Uber</a></li>
                            <li><a href="login.html">Log in</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>        
        <div class="section">
            <div class="text-center">
                <h1>Lets get in touch.</h1>
                <p>Please contact us with any questions, comments, or concerns.</p>
            </div>
            <div class ="row">
              <form class ="col s12">
               <div class ="row">
                   <div class="input field col s12">
                       <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                        <label for="first_name">First name</label>
                    </div> 
                   <div class="input-field col s12">
                       <input id="last_name" type="text" class="validate">
                       <label for="last_name">Last Name</label>
                   </div>
               </div>
               <div class="row">
                 <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div> 
             <div class="row">
               <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for "password">Password</label>
                </div>
            </div>
        </form>
    </div>             
