
<div class="container">
        <!-- this section "header" is for the nav bar-->
    <div class="row">
            <!-- nav bar by Carolyn -->
            <!--static navbar-->
      
        <div class="section">
        <div class="text-center">
            <h1>Lets get in touch.</h1>
            <p>Please contact us with any comments or concerns.</p>
        </div>
                <div id="#centereddiv">
                    <h2>Contact Information:</h2>
                    <div class="well well-sm other-color" div id="well2">
                        <p>Contact our support team and we will get back to you within 24 hours.</p>
                        <p><span class="glyphicon glyphicon-map-marker" text-align="float-left"></span> Colonia, New Jersey, US</p>
                        <p><span class="glyphicon glyphicon-phone" text-align="float-left"></span> +203 885-8308</p>
                        <p><span class="glyphicon glyphicon-envelope" text-align="float-left"></span> CarolynTevnan@copeoptimal.com</p>
                    </div>
                </div>
            </div>
            </div>
        </div>