<div class="container-fluid">
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="/public/pictures/beer-and-wine.jpg">

        <div class="caption center-align">
          <h3>Welcome to BreWine Finder</h3>
          <h5 class="light grey-text text-lighten-3">Find your next beverage here.</h5>
        </div>
      </li>
      <li>
        <img src="/public/pictures/hangover-free-beer.jpg">

        <div class="caption left-align">
          <h3>Find your next great brew.</h3>
          <h5 class="light grey-text text-lighten-3">Thousands of delicious beers from top notch micro breweries to famous brands.</h5>
        </div>
      </li>
      <li>
        <img src="/public/pictures/wine_clash.jpg">

        <div class="caption right-align">
          <h3>Find your next Elegant Wine.</h3>
          <h5 class="light grey-text text-lighten-3">Pair up from best wines around the world.</h5>
        </div>
      </li>
    </ul> 
  </div>
</div><!-- div container -->

<!-- Introduction and Search Area-->
<div class="container col m6 l12">
  <div class="section" id="section1-header">
    <h3>Your One Stop Search </h3>
    <h3 id="section1-header">for Great Beers and Wines</h3>

    <p>There are well over 500 types of beers and wines. That is a lot of terrain to navigate. We're here to help you on your quest for new tastes.</p>
    <p>Check out our recommendations.</p>
  
    <div class="row">
      <div class="col s12 m6 l6 recommendations">
        <a href="wineselect.html">
          <button class="btn teal waves-effect waves-light search" type="submit" name="action">Recommended Wines</button>
        </a>
      </div>
      <div class="col s12 m6 l6 recommendations">
        <a href="beerselect.html">
          <button class="btn teal waves-effect waves-light search" type="submit" name="action">Recommended Beers</button>
        </a>
      </div>
    </div>
    <div class="row">

      <div class="col s4">
        <!-- Promo Content 1 goes here -->
      </div>
      <div class="col s4">
        <!-- Promo Content 2 goes here -->
      </div>
      <div class="col s4">
        <!-- Promo Content 3 goes here -->
      </div>

    </div>
  </div>
  <!-- section -->
</div>
<!-- end div container -->


<div class="container">
    <div class="row">

    </div>

</div>   <!-- end div container -->



<!-- Parallax-->
<div class="parallax-container">
    <div class="parallax"><img src="pictures/file0001821527001.jpg"></div>
</div>
<!--end of parallax-->

<div class="row" id="beer-and-wine-row">
  
 
    <div class="col s12 m6 l6">
      <div class="container" id="beer-section-container">
      <div class="section" id="beer-section">
        <h3>Explore this month's updated selection of fine beers.</h3>

        <!-- Second section: Beer -->
          <span class="glyphicon glyphicon-grain"></span>
          <a class="btn btn-primary btn large" href="beerselect.html" role="button">Our Choice Beers</a>
      </div>
    </div><!-- end of container - beer -->
    
  </div> 


<!-- Third Section: Wine Panel -->


  <div class="col s12 m6 l6">
  
    <div class="container" id="wine-section-container">
     
      <!-- <img src="https://pbs.twimg.com/media/CUi6ZUSUYAAaPFL.jpg"> -->
      <div class="wine-section">
        <h3>This month's selection of fine wines.</h3>
      
        <div class="caption">
          <span class="glyphicon glyphicon-glass"></span>
          <a class="btn btn-primary btn large" href="wineselect.html" role="button">Our Choice Wines</a>
        </div>
        
      </div>
    </div> <!-- end of container -->
  </div>
</div> <!-- end of row  -->



<!-- Parallax-->
<div class="parallax-container">
    <div class="parallax">
      <img src="pictures/turpan_vineyard_web.jpg">
  </div>
</div>
<!--end of parallax-->



<script type="text/javascript">
  $(document).ready(function(){
      $('.slider').slider({full_width: true}).slider({Height: 600});

      $('select').material_select();

      $('.parallax').parallax();
});
</script>